<% if @blog_post.nil? %>
  <p>Blog post not found.</p>
<% else %>
  <%= form_with(model: @blog_post, local: true, class: "w-full max-w-screen-md mx-auto") do |form| %>
    <% if @blog_post.errors.any? %>
      <div id="error_explanation" class="mb-4 bg-red-100 text-red-700 p-4 rounded-md">
        <h2 class="text-sm font-semibold mb-2">
          <%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog post from being saved:
        </h2>

        <ul>
          <% @blog_post.errors.full_messages.each do |message| %>
            <li class="list-disc ml-4"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :title, class: "w-full p-2 border rounded-md" %>
    </div>

    <div class="mb-4">
      <%= form.label :content, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.rich_text_area :content, rows: 4, class: "w-full p-2 border rounded-md" %>
    </div>

    <div class="mb-4">
      <%= form.label :published_at do %>
        <span class="block text-gray-700 text-sm font-bold">Published at</span> <em class="text-xs">(If date not selected, blog post will be a draft)</em>      
      <% end %>
      <%= form.date_field :published_at, min: Date.today, class: "w-full p-2 border rounded-md" %>
    </div>
    
    <div class="mb-4">
      <%= form.label :visibility, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <div class="flex items-center">
        <%= form.radio_button :visibility, 'public', class: "mr-2" %>
        <%= form.label :visibility, 'Public', value: 'public' %>
      </div>
      <div class="flex items-center">
        <%= form.radio_button :visibility, 'private', class: "mr-2" %>
        <%= form.label :visibility, 'Private', value: 'private' %>
      </div>
    </div>

    <div>
      <%= form.submit "Submit", class: "btn bg-blue-500 text-white hover:bg-blue-600 w-full p-2 rounded-md" %>
    </div>
  <% end %>
<% end %>