<div class="bg-white p-6 rounded-md shadow-md">
  <div class="flex justify-between items-start">
    <h2 class="text-3xl font-bold mb-4">
      <%= @blog_post.title %>
    </h2>
  </div>

  <p class="text-gray-700 text-lg font-semibold mb-2"><%= @blog_post.user.user_name %></p>

  <div class="text-sm text-gray-700 flex mb-6">
    <p>Written on <%= @blog_post.created_at.strftime("%B %d, %Y") %></p>
    <p class="ml-2">
      <i class="fas fa-heart <%= @blog_post.likes.liked.count.zero? ? 'text-gray-500' : 'text-pink-500' %>"></i> 
      <%= @blog_post.likes.liked.count %>
    </p>
  </div>  

  <div class="mb-6">
    <img src="<%= asset_path('rabbit.png') %>" class="w-full h-full object-cover rounded-md" />
  </div>
  <p class="text-gray-800 text-base leading-relaxed mb-6"><%= @blog_post.content %></p>
  
  <% if user_signed_in? %>
    <div class="actions mt-4 flex">
      <% like = current_user.likes.find_by(likeable: @blog_post) %>
      <%= button_to like_blog_post_path(@blog_post), method: :post, class: 'button py-2 rounded-md text-center mr-2' do %>
        <i class="fas fa-heart <%= like&.liked? ? 'text-green-500' : 'text-gray-500' %> hover:text-green-500"></i>
      <% end %>
      <%= button_to unlike_blog_post_path(@blog_post), method: :delete, class: 'button py-2 rounded-md text-center mr-2' do %>
        <i class="fas fa-heart-broken <%= like&.unliked? ? 'text-red-500' : 'text-gray-500' %> hover:text-red-500"></i>
      <% end %>
      <% if @blog_post.user == current_user %>
        <%= link_to edit_blog_post_path(@blog_post), class: "btn text-gray-500 py-2 rounded-md text-center mr-2 hover:text-blue-500" do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to '#', class: "btn text-red py-2 rounded-md text-center hover:text-yellow-500", data: { toggle: "modal", target: "#modal-delete", blog_post_id: @blog_post.id } do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <h2 class="mt-6"><%= pluralize(@blog_post.comments.count, 'Comment') %></h2>
  <div id="comments-container">
    <% @blog_post.comments.each do |comment| %>
      <div class="mt-4 flex justify-between items-center p-2 rounded-md">
        <div class="comment-content pl-4 border-l-2 border-gray-600" style="width:100%">
          <div id="comment-<%= comment.id %>-display">
            <div class="flex"> 
              <p class="text-gray-800">
                <strong style="margin-right: 4px;"><%= comment.user.user_name %>:</strong> 
                <%= comment.content %>
              </p>
            </div>        
            <p class="text-gray-600 text-sm">
              Posted <%= time_ago_in_words(comment.created_at) %> ago
              <% if comment.updated_at > comment.created_at + 1.second %>
                <em>(edited)</em>
              <% end %>
            </p>
          </div>
          <div id="comment-<%= comment.id %>-edit" style="display: none;">
            <%= form_with(model: [comment.blog_post, comment], local: true, class: "edit-comment-form flex items-center") do |form| %>
              <%= form.text_area :content, value: strip_tags(comment.content.to_s).squish, class: "w-full rounded-md mr-2 single-line-textarea", rows: 1 %>
              <%= form.submit "↑", id: "comment_submit_button", class: "btn text-gray-400 hover:text-gray-800" %>
            <% end %>
          </div>
        </div>
        <% if user_signed_in? && comment.user == current_user %>
          <div class="relative inline-block text-left">
            <div>
              <button type="button" class="edit-button inline-flex items-center justify-center w-full gap-x-1.5 rounded-md bg-white px-2 py-2 text-sm font-semibold text-gray-900 hover:bg-gray-50"  id="menu-button-<%= comment.id %>" aria-expanded="true" aria-haspopup="true">
                <svg class="h-4 w-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <circle cx="3" cy="10" r="2" />
                  <circle cx="10" cy="10" r="2" />
                  <circle cx="17" cy="10" r="2" />
                </svg>
              </button>
            </div>
            <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10" role="menu" aria-orientation="vertical" aria-labelledby="menu-button-<%= comment.id %>" style="display: none;">
              <div class="py-1" role="none">
                <button type="button" class="edit-dropdown-button block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" data-comment-id="<%= comment.id %>">
                  Edit
                </button>
                <%= button_to 'Remove', [@blog_post, comment], method: :delete, class: "block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", role: "menuitem" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <% if user_signed_in? %>
    <%= form_with(model: [ @blog_post, Comment.new ], local: true) do |form| %>
      <div class="field relative mt-6">
        <%= form.text_area :content, rows: 4, class: "w-full p-2 border rounded-md", id: "commentContent" %>
        <span id="charCount" class="text-sm text-gray-500 absolute right-2 top-2">0/1000</span>
      </div>
      <div class="actions mt-4">
        <%= form.submit "Post Comment", class: "btn text-white px-2 py-2 rounded-md bg-gray-500 hover:bg-gray-600 opacity-50", id: "submit_button", disabled: true %>
      </div>
    <% end %>
  <% else %>
    <p class="mt-6 text-gray-800">
      <strong>Please <%= link_to 'log in', new_user_session_path %> to add comments.</strong>
    </p>
  <% end %>

  <div id="modal-delete" class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                Are you sure you want to delete this blog post?
              </h3>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <a data-role="confirm" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">Confirm Delete</a>
          <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" onclick="document.getElementById('modal-delete').style.display='none'">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
 document.querySelectorAll('[data-toggle="modal"]').forEach(button => button.addEventListener('click', (event) => {
    event.preventDefault();
    const target = button.getAttribute('data-target');
    const blogPostId = button.getAttribute('data-blog-post-id');
    const confirmButton = document.querySelector(`${target} [data-role="confirm"]`);
    const deleteUrl = `/blog_posts/${blogPostId}`;

    confirmButton.addEventListener('click', async () => {
      const csrfToken = document.querySelector('meta[name="csrf-token"]').content;

      await fetch(deleteUrl, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': csrfToken,
        },
      });

      window.location.href = '/';
    });

    document.querySelector(target).style.display = 'block';
  }));

  </script>
  
  
  

  