<div
  class="fixed top-0 right-0 h-full bg-white w-64 p-8 shadow-lg transform translate-x-full overflow-auto transition-transform duration-200 ease-in-out lg:hidden"
  id="menu"
>
  <ul>
    <li id="colorful-text">
      <%= link_to 'Jovial.World', root_path, class: 'text-2xl font-bold mb-4' %>
    </li>
    <% if user_signed_in? %> <% unless current_page?(new_user_session_path) %>
    <li class="border-r border-white pr-4">
      <%= link_to 'New Post', new_blog_post_path %>
    </li>
    <li class="border-r border-white pr-4">
      <a href="#" id="profile-link" class="block">Profile</a>
      <ul id="profile-options" class="hidden">
        <li class="pl-4">
          <%= link_to 'Posts', posts_user_path(current_user) %>        
        </li>
        <li class="pl-4">
          <%= link_to 'Settings', edit_user_registration_path %>
        </li>
      </ul> 
    </li>
    <li>
      <%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
    </li>
    <% end %> <% else %> <% unless current_page?(new_user_session_path) %> <%
    unless current_page?(new_user_registration_path) %>
    <li class="border-r border-white pr-4">
      <%= link_to 'Sign Up', new_user_registration_path %>
    </li>
    <% end %> <% end %> <% end %>
  </ul>
</div>
<script>
  document.getElementById("menu-toggle").addEventListener("click", function () {
    document.getElementById("menu").classList.toggle("translate-x-full");
  });
  document.getElementById("profile-link").addEventListener("click", function (event) {
    event.preventDefault();
    var profileOptions = document.getElementById("profile-options");
    if (profileOptions.classList.contains("hidden")) {
      profileOptions.classList.remove("hidden");
    } else {
      profileOptions.classList.add("hidden");
    }
  });
</script>
