<!DOCTYPE html>
<html>
  <head>
    <title>Jovial.World</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "navbar", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to 'New Post', new_blog_post_path %></li>
        <li id="colorful-text"><%= link_to 'Jovial.World', root_path %></li>
      </ul>
    </nav>
    <%= yield %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#colorful-text a").each(function() {
        var letters = $(this).text().split("");
        $(this).empty();
        for (var i = 0; i < letters.length; i++) {
          var color = 'rgb(' + 
            (Math.floor(Math.random() * 256)) + ',' + 
            (Math.floor(Math.random() * 256)) + ',' + 
            (Math.floor(Math.random() * 256)) + ')';
          var span = $("<span>").text(letters[i]).css("color", color);
          $(this).append(span);
        }
      });
    });
    </script>
  </body>
</html>